body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

section {
    width: 30%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
}

#admin-section {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
}



#login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
}

#toggle-admin-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#toggle-admin-button:hover {
    background-color: #555;
}
